.articles-image-container {
  width: 100%;

  > div {
    position: unset !important;
  }

  .image {
    position: relative !important;
    height: unset !important;
  }

  &.small {
    @include media-breakpoint-up(md) {
      max-width: 220px;
      min-width: 220px;
    }
  }

  noscript {
    .image {
      display: none !important;
    }
  }
}

.article-headline {
  font-size: 16px;
  font-weight: 600;
  @include media-breakpoint-up(md) {
    font-size: 22px;
  }
}

.articles-infinite-scroll-container {
  overflow: unset !important;
}
