.articles-image-container {
  width: 100%;

  > div {
    position: unset !important;
  }

  .image {
    position: relative !important;
    height: unset !important;

    &:hover {
      opacity: 0.9;
    }
  }

  &.small {
    @include media-breakpoint-up(md) {
      max-width: 220px;
      min-width: 220px;
    }
  }

  noscript {
    .image {
      display: none !important;
    }
  }
}

.article-headline {
  font-size: 16px;
  font-weight: 600;
  @include media-breakpoint-up(md) {
    font-size: 22px;
  }
}

.articles-infinite-scroll-container {
  overflow: unset !important;
}

.articles-menu {
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 1;
  max-width: 1200px;
  width: 100%;

  .articles-menu-toggle {
    height: 30px;
    align-self: center;
    padding: 0 5px;
    margin-right: 10px;

    &.active {
      background-color: green;
      color: #fff;
    }
  }

  .article-tag {
    height: 30px;
    align-self: center;
    margin: 5px;
    padding: 0 5px;

    &.reset {
      background-color: royalblue;
      color: #fff;
    }

    &.active {
      background-color: green;
      color: #fff;
    }
  }
}

.articles-menu-buttons {
  height: 70px;
  background-color: #fff;
  max-width: 1200px;
  width: 100%;
  border-bottom: 1px solid #bbb;
  display: flex;
}

.articles-menu-tags {
  max-width: 1200px;
  width: 100%;
  min-height: 70px;
  background-color: #fff;
  position: absolute;
  z-index: -1;
  transition: transform 0.2s ease;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #bbb;
  padding: 5px 0;

  &.is-open {
    transform: translateY(100%);
  }
}
