.articles-image-container {
  width: 100%;

  > div {
    position: unset !important;
  }

  .image {
    position: relative !important;
    height: unset !important;

    &:hover {
      opacity: 0.9;
    }
  }

  &.small {
    @include media-breakpoint-up(md) {
      max-width: 220px;
      min-width: 220px;
    }
  }

  noscript {
    .image {
      display: none !important;
    }
  }
}

.article-headline {
  font-size: 16px;
  font-weight: 600;
  @include media-breakpoint-up(md) {
    font-size: 22px;
  }
}

.articles-infinite-scroll-container {
  overflow: unset !important;
}

.articles-menu {
  height: 70px;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 1;
  max-width: 1200px;
  width: 100%;
  border-bottom: 1px solid #bbb;
  display: flex;

  .articles-menu-select {
    align-self: center;
    border: 1px solid #bbb;
    padding: 5px;
  }
}
